In [3]:
from bs4 import BeautifulSoup
import requests
import sqlite3
from datetime import datetime

In [2]:


def getCheesePrice():

    cheesePriceId = {
        "Фестивальный" : "fest_24-price",
        "Истринский" : "ber_1-price",
        "Винный" : "vai_3-price",
        "Медовый" : "med_23-price",
        "Пивной" : "bir_5-price",
        "Тирольский" : "tirol_22-price",
        "Пошехонский" : "posh_76-price",
        "Колмогоровский" : "kolmo_15-price",
        "Золотой рубль" : "gold_16-price",
        "Губернаторский" : "gub_6-price",
        "Красногорский" : "sve_7-price",
    }

    url = "https://parmezan.ru/Zakaz"
    res = requests.get(url)
    page = res.text
    soup = BeautifulSoup(page, 'html.parser')
    cheesePrice = {}

    for k, v in cheesePriceId.items():
        if soup.find(id=v) is not None:
            cheesePrice[k] = soup.find(id=v).text.strip()
            cheesePrice['date'] = datetime.today().strftime("%b-%d-%Y")

    return cheesePrice

In [10]:
getCheesePrice()

{'Фестивальный': '1600',
 'date': 'May-18-2020',
 'Истринский': '1600',
 'Винный': '1800',
 'Медовый': '1600',
 'Пивной': '1600',
 'Тирольский': '1200',
 'Колмогоровский': '1200',
 'Золотой рубль': '1000',
 'Губернаторский': '1200'}

In [4]:

db = 'cheese.db'
def query_executer(query, db, get_data=False):
    con = sqlite3.connect(db)
    c = con.cursor()
    if get_data:
        data_result =  c.execute(query).fetchall()
        con.commit()
        con.close()

        return data_result
    else:
        c.execute(query)
        con.commit()
        con.close()

# query_executer("SHOW TABLES;", db=db)

In [5]:

stmt = """
CREATE TABLE IF NOT EXISTS users
      (user_id text, username text, status text);"""

query_executer(stmt, db=db)

In [6]:
stmt = "INSERT INTO users ('user_id','username','status') VALUES ('123211','22asfda12','sdfadadf')"
query_executer(stmt, db=db)

In [7]:
stmt = "SELECT * FROM users"
query_executer(stmt, db=db, get_data=True)

[('111333', 'Alex', 'YES'),
 ('1113sdf3', 'Alex', 'YES'),
 ('1333sdf3', 'Alex', 'YES'),
 ('1333ddffsdf3', 'Alex', 'YES'),
 ('133', 'Alex', 'YES'),
 ('123211', '22asfda12', 'sdfadadf')]

In [8]:
class Users:

    def __init__(self, db):
        self.db = db

    def _stmt_executer(self, query, get_data=False):
        con = sqlite3.connect(self.db)
        c = con.cursor()
        if get_data:
            data_result =  c.execute(query).fetchall()
            con.commit()
            con.close()

            return data_result
        else:
            c.execute(query)
            con.commit()
            con.close()

    def create_tab(self):

        stmt = """
        CREATE TABLE IF NOT EXISTS users
              (user_id text, username text, status text);
        """
        self._stmt_executer(stmt)


    def adduser(self, user_id, username, status):
        stmt = f"INSERT INTO users ('user_id','username','status') VALUES ('{user_id}','{username}','{status}')"
        self._stmt_executer(stmt)

    def update_user_status(self, user_id, status):
        stmt = f"UPDATE users SET status = {status} WHERE user_id = {user_id} "
        self._stmt_executer(stmt)


    def get_users_to_update(self):
        stmt = f"SELECT user_id FROM users WHERE status = 'YES' "
        self._stmt_executer(stmt)
        return self._stmt_executer(stmt, get_data=True)

In [9]:
db = 'cheese.db'
u = Users(db)

In [60]:
# u.create_tab()
# u.adduser('133', 'Alex','YES')
# u.get_users_to_update()

In [ ]:
stmt = """
INSERT INTO users VALUES ('1111','Vasya')
"""
c.execute(stmt)
conn.commit()
conn.close()

In [16]:
conn = sqlite3.connect('cheese.db')
c = conn.cursor()
stmt = """
SELECT * FROM users
"""
res = c.execute(stmt).fetchall()
conn.commit()
conn.close()
print(res)

[]

In [58]:
conn = sqlite3.connect('cheese.db')
c = conn.cursor()
stmt = """
DROP TABLE users
"""
c.execute(stmt).fetchall()
conn.commit()
conn.close()

In [38]:
class Prices:

    def __init__(self, db):
        self.db = db

    def _stmt_executer(self, query, get_data=False):
        con = sqlite3.connect(self.db)
        c = con.cursor()
        if get_data:
            data_result =  c.execute(query).fetchall()
            con.commit()
            con.close()

            return data_result
        else:
            c.execute(query)
            con.commit()
            con.close()

    def create_tab(self):

        stmt = """
        CREATE TABLE IF NOT EXISTS prices
              (cheese_id text, cheesename text, price text, date text);
        """
        self._stmt_executer(stmt)


    def addprice(self, cheese_id, cheesename, price,date):
        stmt = f"INSERT INTO prices ('cheese_id','cheesename','price', 'date') VALUES ('{cheese_id}','{cheesename}' ,'{price}','{date}')"
        self._stmt_executer(stmt)

    def update_price(self, cheese_id, price):
        stmt = f"UPDATE prices SET price = {price} WHERE cheese_id = {cheese_id} "
        self._stmt_executer(stmt)
        
    def show_prices(self):
        stmt = f"SELECT * FROM prices"
        return self._stmt_executer(stmt, get_data=True)

In [39]:
db = "cheeseprices3.sqlite3"
p = Prices(db)

p.create_tab()

p.addprice('12dfdf', 'cheese','1240', '20.12.20')

In [40]:
p.show_prices()

[('12dfdf', 'cheese', '1240', '20.12.20')]