In [1]:
from bs4 import BeautifulSoup
import requests
from datetime import datetime

In [9]:


def getCheesePrice():

    cheesePriceId = {
        "Фестивальный" : "fest_24-price",
        "Истринский" : "ber_1-price",
        "Винный" : "vai_3-price",
        "Медовый" : "med_23-price",
        "Пивной" : "bir_5-price",
        "Тирольский" : "tirol_22-price",
        "Пошехонский" : "posh_76-price",
        "Колмогоровский" : "kolmo_15-price",
        "Золотой рубль" : "gold_16-price",
        "Губернаторский" : "gub_6-price",
        "Красногорский" : "sve_7-price",
    }

    url = "https://parmezan.ru/Zakaz"
    res = requests.get(url)
    page = res.text
    soup = BeautifulSoup(page, 'html.parser')
    cheesePrice = {}

    for k, v in cheesePriceId.items():
        if soup.find(id=v) is not None:
            cheesePrice[k] = soup.find(id=v).text.strip()
            cheesePrice['date'] = datetime.today().strftime("%b-%d-%Y")

    return cheesePrice

In [10]:
getCheesePrice()

{'Фестивальный': '1600',
 'date': 'May-18-2020',
 'Истринский': '1600',
 'Винный': '1800',
 'Медовый': '1600',
 'Пивной': '1600',
 'Тирольский': '1200',
 'Колмогоровский': '1200',
 'Золотой рубль': '1000',
 'Губернаторский': '1200'}

In [23]:
import sqlite3
db = 'cheese.db'

def query_executer(query, db, get_data=False):
    con = sqlite3.connect(db)
    c = con.cursor()
    if get_data:
        data_result =  c.execute(query).fetchall()
        con.commit()
        con.close()

        return data_result
    else:
        c.execute(query)
        con.commit()
        con.close()

query_executer("SHOW TABLES;", db=db)

OperationalError: near "SHOW": syntax error

In [28]:

stmt = """
CREATE TABLE IF NOT EXISTS users
      (user_id text, username text, status text);"""

query_executer(stmt, db=db)

In [31]:
stmt = "INSERT INTO users ('user_id','username','status') VALUES ('123211','22asfda12','sdfadadf')"
query_executer(stmt, db=db)

In [55]:
stmt = "SELECT * FROM users"
query_executer(stmt, db=db, get_data=True)

[('123211', '22asfda12', 'sdfadadf'),
 ('123211', '22asfda12', 'sdfadadf'),
 ('123211', '22asfda12', 'sdfadadf')]

In [56]:
class Users:

    def __init__(self, db):
        self.db = db

    def _stmt_executer(self, query, get_data=False):
        con = sqlite3.connect(self.db)
        c = con.cursor()
        if get_data:
            data_result =  c.execute(query).fetchall()
            con.commit()
            con.close()

            return data_result
        else:
            c.execute(query)
            con.commit()
            con.close()

    def create_tab(self):

        stmt = """
        CREATE TABLE IF NOT EXISTS users
              (user_id text, username text, status text);
        """
        self._stmt_executer(stmt)


    def adduser(self, user_id, username, status):
        stmt = f"INSERT INTO users ('user_id','username','status') VALUES ('{user_id}','{username}','{status}')"
        self._stmt_executer(stmt)

    def update_user_status(self, user_id, status):
        stmt = f"UPDATE users SET status = {status} WHERE user_id = {user_id} "
        self._stmt_executer(stmt)


    def get_users_to_update(self):
        stmt = f"SELECT user_id FROM users WHERE status = 'YES' "
        self._stmt_executer(stmt)
        return self._stmt_executer(stmt, get_data=True)

In [59]:
db = 'cheese.db'
u = Users(db)

In [60]:
u.create_tab()

In [66]:
u.adduser('133', 'Alex','YES')

In [62]:
u.get_users_to_update()

[('111333',)]

In [ ]:
# Create table
# c.execute('''CREATE TABLE users
#              (id text, username text)''')

In [ ]:
stmt = """
INSERT INTO users VALUES ('1111','Vasya')
"""
c.execute(stmt)
conn.commit()
conn.close()

In [16]:
conn = sqlite3.connect('cheese.db')
c = conn.cursor()
stmt = """
SELECT * FROM users
"""
res = c.execute(stmt).fetchall()
conn.commit()
conn.close()
print(res)

[]

In [58]:
conn = sqlite3.connect('cheese.db')
c = conn.cursor()
stmt = """
DROP TABLE users
"""
c.execute(stmt).fetchall()
conn.commit()
conn.close()